$font-family-sans-serif: 'Source Sans Pro',
sans-serif !default;
$font-family-serif: 'Source Serif Pro',
serif !default;
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace !default;
$font-family-base: $font-family-sans-serif !default;
body {
    margin: 0px;
    padding: 0px;
    font-family: $font-family-base;
    background: white;
}

.homeTab{
    padding: 22px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #dee2e6;
}

.homeTabText{
    font-size: 9pt;
    color: black;
}

.card:hover{
    border-color: #b7b7b7;
}

nav {
    box-shadow: -1px -5px 8px 5px #8c8b8b;
}

.form-control{
    padding: 0.175rem 0.65rem;
    font-size: 0.8rem;
}

.p-2{
    padding: 0.1rem !important;
}

.mainContainer {
    padding: 70px 20px 70px 20px;
}

a:hover {
    color: rgb(17, 212, 238) !important;
}

:required {
    border-left-color: red;
    border-left-width: 3px;
    border-left-style: outset;
}

.footer {
    box-shadow: 1px 2px 5px 1px #8c8b8b;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    background-color: #f5f5f5;
    font-size: 14px;
    position: fixed;
}

.footer>.container {
    padding-right: 10px;
    padding-left: 10px;
}

.copyright {
    color: #2bbda9 !important;
    font-size: 12px;
}

.pageHeading {
    color: #098292 !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 10px;
    border-left-style: solid;
    border-left-width: 5px;
}

.mainHeading {
    font-size: 20px;
    font-weight: bold;
}

.mainHeadingDescription {
    font-size: 14px;
    text-align: right;
}

.pageContent {
    padding-top: 1em;
    padding-bottom: 1em;
}

.panel.panel-help {
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    padding-bottom: 0;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 0 16px;
    a[href^="#"],
    a[href^="#"]:hover,
    a[href^="#"]:focus {
        outline: none;
        cursor: pointer;
        text-decoration: none;
    }
    .panel-heading {
        background-color: #f6f6f6;
        padding: 0 16px;
        line-height: 48px;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
        color: rgba(0, 0, 0, .87);
        h2 {
            margin: 0;
            padding: 14px 0 14px;
            font-size: 18px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0;
            text-transform: none;
        }
    }
    .panel-body {
        background-color: #ffffff;
        border-top: 1px solid #ddd;
        border-radius: 2px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        margin-top: 0;
        p {
            padding: 10px;
            margin: 0 0 16px;
            &:last-of-type {
                margin: 0;
            }
        }
    }
}

#postOrder {
    thead {
        background-color: #007bff14;
    }
    tbody>tr>td {
        vertical-align: middle;
        padding: 0.30rem;
    }
    .icon {
        text-align: center;
    }
    .addINRsymbol::before {
        content: "₹ "
    }
    .addINRsymbol,
    .numberRight {
        text-align: right !important;
    }
    .cashStockName {
        font-size: 12px;
    }
    .cashStockName::before {
        content: '[ Cash : '
    }
    .cashStockName::after {
        content: ' ]'
    }
    .futureStockName {
        font-size: 12px;
    }
    .futureStockName::before {
        content: '[ Future : '
    }
    .futureStockName::after {
        content: ' ]'
    }
}

.externalWebsiteActionIcon {
    width: auto;
    height: 20px;
    padding-left: 3px;
}

.control-label {
    font-size: 10pt;
}

input,
select,
file {
    height: calc(2rem + 2px) !important;
    font-size: 10pt;
}

span.help-block {
    color: #9e9e9e;
    font-size: 9pt;
    font-style: italic;
}

.marginLeft10 {
    margin-left: 10px;
}

.form-control[type=checkbox] {
    padding: 100px;
}

.frmUser {
    border-style: solid;
    border-collapse: collapse;
    border-color: #36363814;
    border-width: 1px;
    border-radius: 5px;
    background-color: #f7ffff;
}

.frmUserHeadings {
    background-color: #f1efef;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    border-radius: 5px
}

.frmUserHeadings>H4 {
    text-shadow: 1px 1px 0px #b5bbbb;
}

.card-title{
    font-size: 10pt;
    font-weight: 600;
}
.card-text{
    font-size: 10pt;
}

.button100{
    width: 100%;
}

/* For mobile phones: */

[class*="frmUserWidth-"] {
    width: 95%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .frmUserWidth-Login,.frmUserWidth-Register {
        width: 30%;
    }
}